@model IEnumerable<Exercise2.Models.Rockband>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>
            Great Rockbands
        </h1>
        <ul>
            @{
                foreach (var rockband in Model)
                {
                    <li>
                        @rockband.Name
                    </li>
                }
            }
        </ul>
       
    </div>
</body>
</html>
