@model int
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>
            Simple Calculator
        </h1>

        @using (Html.BeginForm())
        {
            <p>
                @Html.TextBox("field1")
            </p>
            <p>
                @Html.TextBox("field2")
            </p>
            <p>
                <input type="submit" value="+" name="operator"/>
                <input type="submit" value="-" name="operator"/>
                <input type="submit" value="*" name="operator"/>
                <input type="submit" value="/" name="operator"/>
            </p>
        }

        <p>
            Result: @Model
        </p>
    </div>
</body>
</html>
